* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#header {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #001133;
}

.logo h1 {
  padding: 6px 12px;
  margin-bottom: 0px;
  color: #f2f2f2;
}

.logo span {
  color: #00ff99;
}

.navbar {
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  padding: 6px 12px;
  color: #f2f2f2;
}

.navbar a:hover {
  color: #00ff99;
  transition: 0.5s;
}

.btn button {
  color: #f2f2f2;
  padding: 4px 12px;
  border: 2px solid #00ff99;
  border-radius: 20px;
  background: none;
  letter-spacing: 1px;
}

.btn button:hover {
  color: #001133;
  background-color: #00ff99;
  transition: 0.5s;
}

#banner {
  text-align: center;
  color: #f2f2f2;
  background-color: #001133;
  margin-bottom: 10px;
}

.banner-top {
  padding: 100px 100px;
}

.banner-top span {
  color: #00ff99;
}

.banner-top h1 {
  margin-bottom: 0;
}

.banner-bottom {
  padding: 0 100px 120px 100px;
}

.banner-bottom h4 {
  margin-bottom: 0;
}

.heading {
  padding: 20px;
  text-align: center;
  color: #00ff99;
  background-color: #001133;
}

.heading h2 {
  margin-bottom: 0;
}

#card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.cards {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
  border: 2px solid #001133;
}

.cards:hover {
  box-shadow: 0 0 5px #001133;
  transition: 0.5s;
}

div.progress-bar {
  background-color: #001133;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  color: #f2f2f2;
  background-color: #001133;
  margin-top: 10px;
}

.copyright p {
  margin-bottom: 0;
}

.copyright span {
  color: #00ff99;
}

.social-media a {
  color: #00ff99;
  padding-left: 5px;
}

.social-media a:hover {
  color: #f2f2f2;
  transition: 0.5s;
}
